@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://stylesatlife.com/wp-content/uploads/2019/09/Path-Of-Mountains.jpg" class="img-fluid">
        </div>
        <div class="col">
            <img src="https://stylesatlife.com/wp-content/uploads/2019/09/Path-Of-Mountains.jpg" class="img-fluid">
        </div>
        <div class="col">
            <img src="https://stylesatlife.com/wp-content/uploads/2019/09/Path-Of-Mountains.jpg" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://image.winudf.com/v2/image/Y29tLnRhdHRvb2Rlc2lnbnMuaGR3YWxscGFwZXJzX3NjcmVlbl8wXzE1MjQyMDEwNjdfMDI0/screen-0.jpg?h=500&fakeurl=1&type=.jpg" class="img-fluid">
        </div>
        <div class="col">
            <img src="https://image.winudf.com/v2/image/Y29tLnRhdHRvb2Rlc2lnbnMuaGR3YWxscGFwZXJzX3NjcmVlbl8wXzE1MjQyMDEwNjdfMDI0/screen-0.jpg?h=500&fakeurl=1&type=.jpg" class="img-fluid">
        </div>
        <div class="col">
            <img src="https://image.winudf.com/v2/image/Y29tLnRhdHRvb2Rlc2lnbnMuaGR3YWxscGFwZXJzX3NjcmVlbl8wXzE1MjQyMDEwNjdfMDI0/screen-0.jpg?h=500&fakeurl=1&type=.jpg" class="img-fluid">
        </div>
    </div>
</div>
